body {
    background-color: #f8f9fa;
}
#conteudo {
    max-width: 800px; /* Aumenta a largura máxima */
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#titulo {
    text-align: center;
    margin-bottom: 20px;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
#map {
    height: 400px;
    margin-top: 20px;
}